{% extends "base/app.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
    <article class="group flex rounded-md w-full max-w-xs flex-col overflow-hidden border border-neutral-300 bg-neutral-50 p-6 text-neutral-600 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300">
        <form class="space-y-8" method="POST">
            {{ form.hidden_tag() }}
            <div class="space-y-2">
                <h3 class="text-xl text-balance md:text-2xl font-bold text-neutral-900 dark:text-white">Reset Password</h3>
                <p class="mt-2 text-pretty text-xs font-medium">You'll receive an email if the account exists!</p>
            </div>
            <div class="space-y-2">
                <!-- email -->
                <div class="flex w-full max-w-xs flex-col gap-1 text-neutral-600 dark:text-neutral-300">
                    {{ form.email.label(class="w-fit pl-0.5 text-sm") }}
                    {{ form.email(
                        class="w-full rounded-md border border-neutral-300 bg-neutral-50 px-2 py-2 text-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900/50 dark:focus-visible:outline-white", 
                        placeholder="Enter your email",
                        autocomplete="email"
                    ) }}
                </div>
                <!-- submit -->
                {{ form.submit(class="cursor-pointer mt-12 w-full whitespace-nowrap bg-black px-4 py-2 text-center text-sm font-medium tracking-wide text-neutral-100 transition hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 dark:bg-white dark:text-black dark:focus-visible:outline-white rounded-md") }}
            </div>
        </form>
    </article>
{% endblock %}