{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <article x-data="{
        deleteNote(noteId) {
            fetch('/delete-note', {
                method: 'POST',
                body: JSON.stringify({ noteId: noteId })
            }).then((_res) => {
                window.location.href = '/'
            })
        }
    }" class="group flex rounded-md w-full max-w-xs flex-col overflow-hidden border border-neutral-300 bg-neutral-50 p-6 text-neutral-600 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300">
        <h1 align="center">Notes</h1>
        <ul id="notes">
            {% for keep in user.keepsakes %}
            <li>
                {{ keep.text }}
                <button type="button" class="close" @click="deleteNote({{ keep.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
            {% endfor %}
        </ul>
        <form method="POST">
            <textarea name="note" id="note"></textarea>
            <br />
            <div align="center">
                <button type="sumbit">Add Note</button>
            </div>
        </form>
    </article>
{% endblock %}



