{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Notes</h1>
<ul id="notes">
    {% for keep in user.keepsakes %}
    <li>
        {{ keep.text }}
        <button type="button" class="close" onClick="deleteNote({{ keep.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note"></textarea>
    <br />
    <div align="center">
        <button type="sumbit">Add Note</button>
    </div>
</form>
{% endblock %}
