{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<form class="pure-form pure-form-stacked pure-u-1" method="POST">
    <fieldset>
        <legend>Sign Up</legend>
        <br />
        <label for="stacked-email">Email:</label>
        <input type="email" class="pure-input-1" id="stacked-email" name="email" required="" />
        <!-- <span class="pure-form-message">This is a required field.</span> -->
        <label for="stacked-nickname">Nickname:</label>
        <input type="text" class="pure-input-1" id="stacked-nickname" name="nickname" required="" />
        <label for="stacked-password">Password:</label>
        <input type="password" class="pure-input-1" id="stacked-password" name="password" required="" />
        <label for="stacked-password-confirmation">Confirm Password:</label>
        <input type="password" class="pure-input-1" id="stacked-password-confirmation" name="password_check" required="" />
        <label for="stacked-tos" class="pure-checkbox">
            <input type="checkbox" id="stacked-tos" required=""/> I've read the terms and conditions
        </label>
        <br />
        <button type="submit" class="pure-button pure-button-primary pure-u-1">Sign in</button>
    </fieldset>
</form>
{% endblock %}