<select :disabled="!service" class="w-full appearance-none rounded-md border border-neutral-300 bg-neutral-50 px-4 py-2 text-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900/50 dark:focus-visible:outline-white" id="mode" name="mode" required="" disabled="disabled">
<option selected="" value="">Select Mode</option>
{% for mode in modes %}
    <option value="{{ mode.id }}">{{ mode.name }}</option>
{% endfor %}
</select>